@charset "UTF-8";

/*
base style
*/
body{
   
      font-family: "Noto Sans JP", "Matemasie", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
      font-optical-sizing: auto;
      line-height: 1.5;
      font-weight: 400;
      font-style: normal;
      color: #333;
    
}

/*
 header 
*/
.logo{
    width: fit-content;
    margin-top: 14px;
}

.nav-menu{
    display: flex;
    font-size: 1.25em;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
    background-color: gainsboro;
}

.menu li{
    margin-left: 36px;
}

.menu a{
    color: #432;
}

.menu a:hover{
    color: #0bd;
}

.page-header{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
}

.wrapper{
    max-width: fit-content;
    margin: 0 auto;
    padding: 0 4%;
}


/* 
section
*/
.section{
    padding: 30px 15px;
    margin-bottom: 100px;
}
.section-title{
    font-size: 50px;
    text-align: center;
    color: blueviolet;
    margin: 100px 0 100px;
}
.section-headline {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 40px;
}

/* 
intro
*/
.intro{
    margin: 0;
    display: flex;
}
/* .intro-image {
    
} */
.intro-caption {
    padding-left: 15px;
}
.intro-headline {
    margin: 0 0 20px;
    font-size: 30px;
}
.intro-description {
    text-align: center;
    padding: 100;
}
            
/* 
footer
*/
.footer-head{
    padding: 30px 0 30px;
    text-align: right;
    background-color: aquamarine;
}